<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <li><a href="https://twitter.com/Naman04364483">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/naman-khera-282320235/">LinkedIN</a></li>
    <li>Email Address:<strong>nmnkhera@gmail.com</strong></li>
<%- include("partials/footer"); -%>
